<p id="notice"><%= notice %></p>
<% if !user_signed_in? %>
  <%= button_to "Creatodonのアカウントでログイン", user_mastodon_omniauth_authorize_path %>
<% end %>
<% if user_signed_in? %>
  <%= button_to '作品投稿', {:action => "new"}, {:method => :get} %>
<% end %>
<h1>Creatodon Folio 作品一覧</h1>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix" data-turbolinks="false">
<% @books.each do |book| %>
  <div class="box"><%= link_to(image_tag(book.picture, style: 'height:40%;width:40%;'), book_path(book)) %></div>
<% end %>
</div>

<%= paginate @books %>
