<p id="notice"><%= notice %></p>
<% if !user_signed_in? %>
  <p><%= button_to "Creatodonのアカウントでログイン", user_mastodon_omniauth_authorize_path %></p>
<% end %>
<% if user_signed_in? %>
  <p><%= button_to '作品投稿', {:action => "new"}, {:method => :get} %></p>
<% end %>

<%= javascript_pack_tag 'welcome' %>

<h1>Creatodon Folio 作品一覧</h1>

<div id="macy-container">
  <% @books.each do |book| %>
    <div><%= link_to(image_tag(book.picture, style: 'height:100%;width:100%;'), book_path(book)) %></div>
  <% end %>
  </div>
</div>

<p><%= paginate @books %></p>
