<p id="notice"><%= notice %></p>
<% if !user_signed_in? %>
  <%= button_to "Creatodonのアカウントでログイン", user_mastodon_omniauth_authorize_path %>
<% end %>
<% if user_signed_in? %>
  <%= button_to '作品投稿', {:action => "new"}, {:method => :get} %>
<% end %>
<h1>Creatodon Folio 作品一覧</h1>

<div id="macy-container">
  <% @books.each do |book| %>
    <div><%= link_to(image_tag(book.picture, style: 'height:100%;width:100%;'), book_path(book)) %></div>
  <% end %>
  </div>
</div>
<%= paginate @books %>

<script>
  var macy = Macy({
      container: '#macy-container',
      trueOrder: false,
      waitForImages: false,
      columns: 6,
      margin: {
          x: 10,
          y: 5,
      },
      breakAt: {
          1200: 5,
          940: 3,
          520: 2,
          400: 1
      }
  });
</script>