<p id="notice"><%= notice %></p>
<% if !user_signed_in? %>
  <%= button_to "Creatodonのアカウントでログイン", user_mastodon_omniauth_authorize_path %>
<% end %>
<% if user_signed_in? %>
  <%= button_to '作品投稿', :method => :get, :action => "new" %>
<% end %>
<h1>Creatodon Folio 作品一覧</h1>

<table>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to(image_tag(book.picture), book_path(book)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @books %>
