<header>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "CreatodonFolio", root_path, :class => "navbar-brand" %>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <%= link_to "Top", root_path%>
          <%= link_to "Creatodon", "https://gamelinks007.net" %>
          <%= link_to "Source", "https://github.com/S-H-GAMELINKS/CreatodonFolio" %>
            <% if user_signed_in? %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% end %>
            <% if !user_signed_in? %>
              <%= link_to "Creatodonのアカウントでログイン", user_mastodon_omniauth_authorize_path %>
            <% end %>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><%= link_to "Top", root_path%></li>
          <li><%= link_to "Creatodon", "https://gamelinks007.net" %></li>
          <li><%= link_to "Source", "https://github.com/S-H-GAMELINKS/CreatodonFolio" %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% end %>
          <% if !user_signed_in? %>
          <li><%= link_to "Creatodonのアカウントでログイン", user_mastodon_omniauth_authorize_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>