<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="./">
        CreatodonFolio
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Top", root_path, class: "dropdown-item" %>
                <%= link_to "Creatodon", "https://gamelinks007.net", class: "dropdown-item" %>
                <%= link_to "Source", "https://github.com/S-H-GAMELINKS/CreatodonFolio", class: "dropdown-item" %>
                <% if user_signed_in? %>
                <%= link_to "ダッシュボード", dashboard_path, class: "dropdown-item" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                <% else %>
                <%= link_to "Creatodonのアカウントでログイン", user_mastodon_omniauth_authorize_path, class: "dropdown-item" %>
                <% end %>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>